[Desktop Entry]
Name=Labwc Config
GenericName=Labwc Configuration
Comment=Configure settings for Labwc
Exec=labwc-tweaks
Icon=labwc-tweaks
Type=Application
Categories=Settings;System;
